@import '../../styles';


.orga-panel-container{
  display: flex;
  justify-content: center;
}

.action-element {
  margin: $halve_tick;
  padding: $halve_tick;
}


.winner-label {
  color: $success_color;
}

.draw-label {
  color: $color_secondary;
}

.looser-label {
  color: $fail_color;
}

.save-mod-heading{
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: $main_tick;
  margin-bottom: $main_tick;
  line-height: $tripel_tick;
  color: $color_secondary;
}

.save-mod-button{
  float: right;
}
