<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-dialog [(visible)]="orgaDialogVisibility"
          [contentStyle]="{'overflow':'visible', 'height':'100%'}"
          [modal]=true
          [width]="400"
          [height]="180">
  <p-header>
    Organizer password required
  </p-header>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        Password:
      </div>
      <div class="ui-grid-col-8">
        <input tabindex="1" type="password" pPassword [(ngModel)]="orgaPassword"/>
      </div>
    </div>
    <div class="ui-grid-row"
         *ngIf="passwordWrong">
      <div class="ui-grid-col-12">
        <div class="ui-message ui-messages-error ui-corner-all">
          Password wrong
        </div>
      </div>
    </div>
    <div class="ui-grid-row bottom-button">
      <div class="ui-grid-col-12">
        <button tabindex="2" pButton class="full-width" label="Orga access"
                (click)="checkIfPasswordCorrect()">
        </button>
      </div>
    </div>
  </div>
</p-dialog>

<ng-container *ngIf="(loadingTournament)">
  <div class="heading">Load Tournament...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(!loadingTournament)">
  <p-panel [style]="{'text-align':'center'}"
           header="{{tournament?.name}} - {{tournament?.type?.toUpperCase()}} Tournament - ActualRound {{tournament?.actualRound}}"
           [toggleable]="true">
    <div *ngIf="isOrga" class="sub-heading">Hello Organizer</div>

    <div class="centered-content-container">
      <button pButton label="Last Round" (click)="showPreviousRound()" class="ui-button-info"></button>
      <button *ngIf="!isOrga" pButton label="Orga View" (click)="showOrgaDialog()" class="ui-button-success"></button>
      <button pButton label="Next Round" (click)="showNextRound()" class="ui-button-info"></button>
    </div>
  </p-panel>

  <p-panel *ngIf="isOrga" header="Orga Area" [toggleable]="true">

    <ng-container *ngIf="(addingPlayer)">
      <div class="heading">Add Player...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="(startingTournament)">
      <div class="heading">Start Tournament...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="(deletingRound)">
      <div class="heading">Delete Round...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="(clearingMatch)">
      <div class="heading">Clear Match...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="(pairingAgain)">
      <div class="heading">Pair Round Again...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="(creatingNextRound)">
      <div class="heading">Create next Round...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <div *ngIf="tournament?.actualRound === 0 && possiblePlayersToAdd?.length === 0" class="sub-heading">
      <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> No possible Players found. Please add new players with
      GameSytem in menu *NEW PLAYER*
    </div>

    <div class="orga-panel-container"
         *ngIf="tournament?.actualRound === 0 && possiblePlayersToAdd?.length > 0 && !addingPlayer">
      <p-dataTable [value]="possiblePlayersToAdd"
                   [paginator]="true"
                   [rows]="5">
        <p-header>List of Players</p-header>
        <p-column field="name"
                  header="Name"
                  [sortable]="true"
                  [filter]="true"
                  filterPlaceholder="Search">
        </p-column>
        <p-column field="location"
                  header="Location"
                  [sortable]="true"
                  [filter]="true"
                  filterPlaceholder="Search">
        </p-column>
        <p-column styleClass="col-actions">
          <ng-template pTemplate="header">
            Actions
          </ng-template>
          <ng-template let-player="rowData" pTemplate="body">
            <button type="button" pButton (click)="addParticipant(player)" icon="fa-plus" label="Add Player"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
    <div class="orga-panel-container" *ngIf="false">
      <button pButton type="button"
              class="action-element"
              (click)="deleteAllParticipants()"
              label="Delete ALL Participant">
      </button>
      <button pButton type="button"
              class="action-element"
              (click)="add20ParticipantsBatch()"
              label="ADD 20">
      </button>
      <button pButton type="button"
              class="action-element"
              (click)="deleteAndAddParticipants()"
              label="DELETE ALL & ADD 20">
      </button>
    </div>
    <div class="orga-panel-container">
      <button *ngIf="tournament?.actualRound === 0 && participants?.length >= 2"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="createFirstRound()"
              label="Start Tournament">
      </button>
      <button *ngIf="tournament?.actualRound > 0 && allMatchesFinished"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="nextRound()"
              label="Next Round">
      </button>
      <button *ngIf="tournament?.actualRound > 0"
              pButton type="button"
              (click)="deleteRound()"
              class="action-element ui-button-warning"
              label="Delete Round">
      </button>
      <button *ngIf="tournament?.actualRound > 0 && noMatchFinished"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="pairAgain()"
              label="Pair again">
      </button>
    </div>
  </p-panel>
  <p-panel header="{{shownRound === 0 ? 'Players': 'Standings Round ' + shownRound}}" [toggleable]="true"
           [collapsed]="shownRound !== 0">

    <ng-container *ngIf="(loadingParticipants)">
      <div class="heading">Load Players...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="(removingPlayer)">
      <div class="heading">Remove Player...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>
    <button pButton type="button" (click)="stackedPlayers = !stackedPlayers" label="Toggle" icon="fa-list"></button>
    <p-dataTable *ngIf="(!loadingParticipants) && (!removingPlayer) && (!startingTournament)"
                 [value]="participants"
                 [editable]="isOrga"
                 [stacked]="stackedPlayers"
                 (onEditComplete)="onEditParticipant($event)"
                 [responsive]="true"
                 [rows]="10"
                 [paginator]="true"
                 [pageLinks]="3"
                 [rowsPerPageOptions]="[5,10,20]">
      <p-header>{{participants?.length}} Players in Tournament</p-header>

      <p-column field="name"
                header="Name"
                [sortable]="true"
                [filter]="true"
                styleClass="break-word"
                filterPlaceholder="Search">
      </p-column>
      <p-column [editable]="isOrga && tournament?.actualRound === 0"
                styleClass="{{isOrga && tournament?.actualRound === 0 ? 'editable-column' : ''}}, break-word"
                field="location"
                header="Location"
                [sortable]="true"
                [filter]="true"
                filterPlaceholder="Search">
      </p-column>

      <ng-container *ngFor="let participantField of gameSystemConfig.participantFields">
        <p-column [editable]="isOrga && tournament?.actualRound === 0"
                  styleClass="{{isOrga && tournament?.actualRound === 0 ? 'editable-column' : ''}}, break-word"
                  field="{{participantField.field}}"
                  header="{{participantField.field}}"
                  [sortable]="true"
                  [filter]="true"
                  filterPlaceholder="Search">
          <ng-template let-col let-participant="rowData" pTemplate="editor">
            <p-dropdown *ngIf="participantField.type === 'dropDown'"
                        placeholder="None"
                        [(ngModel)]="participant[col.field]"
                        [options]="participantField.fieldValues"
                        (onChange)="changeParticipant(participant)"
                        (onBlur)="saveParticipant()"
                        [autoWidth]="false"
                        [style]="{'width':'100%'}">
            </p-dropdown>
            <p-multiSelect *ngIf="participantField.type === 'multiSelect'"
                           placeholder="None"
                           [(ngModel)]="participant[col.field]"
                           [options]="participantField.fieldValues"
                           (onChange)="changeParticipant(participant)"
                           (onPanelHide)="saveParticipant()"
                           [showToggleAll]=false
                           [maxSelectedLabels]=3
                           [style]="{'width':'100%'}">
            </p-multiSelect>
          </ng-template>
        </p-column>
      </ng-container>
      <p-column sortable="custom" (sortFunction)="sortByScore($event)">
        <ng-template pTemplate="header">
          Score
        </ng-template>
        <ng-template let-participant="rowData" pTemplate="body">
          {{getScore(participant)}} <i class="fa fa-info-circle" pTooltip="{{getScoreTooltip(participant)}}"></i>
        </ng-template>
      </p-column>

      <ng-container *ngFor="let scoreField of gameSystemConfig.standingFields">
        <p-column>
          <ng-template pTemplate="header">
            {{scoreField.field}}
          </ng-template>
          <ng-template let-participant="rowData" pTemplate="body">
            {{getScoreFieldValue(scoreField, participant)}}
            <i class="fa fa-info-circle" pTooltip="{{getScoreFieldValueTooltip(scoreField, participant)}}"></i>
          </ng-template>
        </p-column>
      </ng-container>

      <p-column styleClass="col-actions">
        <ng-template pTemplate="header">
          Actions
        </ng-template>
        <ng-template let-participant="rowData" pTemplate="body">
          <button *ngIf="isOrga && tournament?.actualRound === 0"
                  type="button" pButton (click)="deleteParticipant(participant)" icon="fa-trash" label="Remove Player">
          </button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </p-panel>
  <p-panel *ngIf="shownRound > 0" header="Pairings Round {{shownRound}}" [toggleable]="true">

    <ng-container *ngIf="(loadingRound)">
      <div class="heading">Load Round...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <button pButton type="button" (click)="stackedMatches = !stackedMatches" label="Toggle" icon="fa-list"></button>
    <p-dataTable *ngIf="(!loadingRound) && (!startingTournament) && (!deletingRound) && (!clearingMatch) && (!pairingAgain) && (!creatingNextRound)"
                 [value]="roundMatches"
                 [editable]="isOrga"
                 [responsive]="true"
                 [rowStyleClass]="getStyleForMatchesRow"
                 [rows]="10"
                 [paginator]="true"
                 [pageLinks]="3"
                 [stacked]="stackedMatches"
                 [rowsPerPageOptions]="[5,10,20]">
      <p-header>{{roundMatches?.length}} Matches</p-header>
      <p-column styleClass="col-result" *ngIf="isOrga">
        <ng-template pTemplate="header">Result</ng-template>
        <ng-template pTemplate="body" let-roundMatch="rowData">
          <div style="text-align: center">
            <p-dropdown
              placeholder="Undone"
              [(ngModel)]="roundMatch['result']"
              [options]="winningOptions"
              (onChange)="changeWinner($event, roundMatch)">
            </p-dropdown>
          </div>
          <div *ngIf="roundMatch?.finished" style="text-align: center">
            <i class="fa fa-times warning-icon"
               aria-hidden="true"
               (click)="clearGame(roundMatch)"> Clear Game</i>
          </div>
        </ng-template>
      </p-column>
      <p-column styleClass="col-player col-firstPlayer"
                [sortable]="true"
                [filter]="true"
                filterPlaceholder="Search">
        <ng-template pTemplate="header">Player 1</ng-template>
        <ng-template pTemplate="body" let-roundMatch="rowData">
          <div style="text-align: center"
               [ngClass]="{
                   'winner-label': (roundMatch.scoreParticipantOne === 1 && roundMatch.finished),
                   'looser-label': (roundMatch.scoreParticipantTwo === 1 && roundMatch.finished),
                   'draw-label': (roundMatch.scoreParticipantOne === roundMatch.scoreParticipantTwo && roundMatch.finished)
                }">
            <span class="big-text" *ngIf="roundMatch.participantOne.name !== 'bye'">
              {{roundMatch.participantOne.name}}
              ({{getScoreTillRoundForParticipant(roundMatch.participantOne)}})
            </span>
            <span class="big-text" *ngIf="roundMatch.participantOne.name === 'bye'">BYE</span>
          </div>
          <div style="text-align: center" *ngIf="isOrga">
            Choose played
          </div>

        </ng-template>
      </p-column>
      <p-column styleClass="col-vs">
        <ng-template pTemplate="header"></ng-template>
        <ng-template pTemplate="body">
          <div style="text-align: center">
            <i class="fa fa-arrows-v fa-2x" aria-hidden="true" pTooltip="Swap Player1"></i>
            <span>VS</span>
            <i class="fa fa-arrows-v fa-2x" aria-hidden="true" pTooltip="Swap Player2"></i>
          </div>
        </ng-template>
      </p-column>
      <p-column styleClass="col-player"
                [sortable]="true"
                [filter]="true"
                filterPlaceholder="Search">
        <ng-template pTemplate="header">Player 2</ng-template>
        <ng-template pTemplate="body" let-roundMatch="rowData">
          <div style="text-align: center"
               [ngClass]="{
                   'winner-label': (roundMatch.scoreParticipantTwo === 1 && roundMatch.finished),
                   'looser-label': (roundMatch.scoreParticipantOne === 1 && roundMatch.finished),
                   'draw-label': (roundMatch.scoreParticipantOne === roundMatch.scoreParticipantTwo && roundMatch.finished)
                }">

            <span class="big-text" *ngIf="roundMatch.participantTwo.name !== 'bye'">
                  ({{getScoreTillRoundForParticipant(roundMatch.participantTwo)}})
                  {{roundMatch.participantTwo.name}}
            </span>
            <span class="big-text" *ngIf="roundMatch.participantTwo.name === 'bye'">BYE</span>
          </div>
          <div style="text-align: center" *ngIf="isOrga">
            Choose played
          </div>
        </ng-template>
      </p-column>

      <ng-container *ngFor="let scoreField of gameSystemConfig.scoreFields">
        <p-column *ngIf="isOrga" styleClass="col-scoring">
          <ng-template pTemplate="header">
            {{scoreField.field}}
          </ng-template>
          <ng-template let-col let-roundMatch="rowData" pTemplate="body">
            <div style="text-align: center">
              <span>P1 {{scoreField.field}}</span>
              <p-spinner size="5" [(ngModel)]="roundMatch[scoreField.fieldPlayerOne]"
                         [min]="scoreField.min" [max]="scoreField.max"
                         (onBlur)="changeScoringForPlayerOne(roundMatch, scoreField.field, roundMatch[scoreField.fieldPlayerOne])">

              </p-spinner>
            </div>
            <div style="text-align: center">
              <span>P2 {{scoreField.field}}</span>
              <p-spinner size="5" [(ngModel)]="roundMatch[scoreField.fieldPlayerTwo]"
                         [min]="scoreField.min" [max]="scoreField.max"
                         (onBlur)="changeScoringPlayerTwo(roundMatch, scoreField.field, roundMatch[scoreField.fieldPlayerTwo])">
              </p-spinner>
            </div>
          </ng-template>
        </p-column>
      </ng-container>


    </p-dataTable>
  </p-panel>

</ng-container>


