<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-dialog [(visible)]="orgaDialogVisibility"
          [contentStyle]="{'overflow':'visible', 'height':'100%'}"
          [modal]=true
          [width]="400"
          [height]="220">
  <p-header>
    Organizer password required
  </p-header>

  <ng-container *ngIf="(accessAsOrga)">
    <div class="heading">Access as Orga...</div>
    <div class="centered-content-container">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
  </ng-container>

  <form *ngIf="!accessAsOrga" [formGroup]="orgaForm" (ngSubmit)="checkIfPasswordCorrect()" novalidate>
    <div class="ui-grid  ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Orga:
        </div>
        <div class="ui-grid-col-8">
          <input formControlName="user" id="user" name="user"
                 tabindex="1" type="text" size="30" pInputText value="Orga">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Password:
        </div>
        <div class="ui-grid-col-8">
          <input id="password" name="password"
                 #orgaPasswordField
                 type="password"
                 (keyup.enter)="checkIfPasswordCorrect()"
                 tabindex="2" pPassword
                 formControlName="password"
                 required>
        </div>
      </div>
      <div class="ui-grid-row"
           *ngIf="passwordWrong">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            Password wrong
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <button [disabled]="orgaForm.pristine"
                  tabindex="2" pButton type="submit" class="full-width" label="Orga access"></button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="teamCreationDialogVisibility"
          [contentStyle]="{'overflow':'visible', 'height':'100%'}"
          [modal]=true
          [width]="400"
          [height]="240">
  <p-header>
    Create Team
  </p-header>
  <form [formGroup]="teamCreationForm" (ngSubmit)="addTeam()" novalidate>
    <div class="ui-grid ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Team name:
        </div>
        <div class="ui-grid-col-8">
          <input formControlName="teamName" id="teamName" name="teamName"
                 tabindex="3" type="text" pInputText required>
        </div>
      </div>
      <div class="ui-grid-row"
           *ngIf="teamNameAlreadyTaken">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            Team name already taken
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Location:
        </div>
        <div class="ui-grid-col-8">
          <input id="teamLocation" name="teamLocation"
                 pInputText
                 tabindex="4"
                 formControlName="teamLocation">
        </div>
      </div>
      <div class="ui-grid-row bottom-button">
        <div class="ui-grid-col-12">
          <button [disabled]="teamCreationForm.pristine"
                  tabindex="2" pButton type="submit" class="full-width" label="Add Team"></button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="pairRoundDialogVisibility"
          [contentStyle]="{'overflow':'visible', 'height':'100%'}"
          [modal]=true
          [width]="400">
  <p-header>
    Pair Round {{roundToPair}}
  </p-header>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

    <div class="ui-grid-row" *ngIf="failedToCreateRound">
      <div class="ui-grid-col-12 big-text fail-color">
        Failed to create Round. Check Restrictions.
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-8">
        Location Restriction*:
      </div>
      <div class="ui-grid-col-8">
        <p-inputSwitch [(ngModel)]="locationRestriction"></p-inputSwitch>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 small-text">
        * No pairings will be generated with given Restriction. If no pairing is possible
        you can just uncheck the option and try again
      </div>
    </div>
  </div>
  <p-footer>
    <button *ngIf="tournament?.actualRound == 0 && !sameRoundAgain"
            type="button"
            pButton
            icon="fa-check"
            (click)="createFirstRound()"
            label="Start Tournament">
    </button>
    <button *ngIf="tournament?.actualRound > 0 && !sameRoundAgain"
            type="button"
            pButton
            icon="fa-check"
            (click)="nextRound()"
            label="Next Round">
    </button>
    <button *ngIf="sameRoundAgain"
            type="button"
            pButton
            icon="fa-check"
            (click)="pairAgain()"
            label="Pair Again">
    </button>
    <button type="button" pButton icon="fa-close" (click)="pairRoundDialogVisibility = false" label="Cancel"></button>
  </p-footer>
</p-dialog>

<ng-container *ngIf="(loadingTournament)">
  <div class="heading">Load Tournament...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(addingPlayer)">
  <div class="heading">Add Player...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(removingPlayer)">
  <div class="heading">Remove Player...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(addingTeam)">
  <div class="heading">Add Team...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(removingTeam)">
  <div class="heading">Remove Team...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(savingData)">
  <div class="heading">Save and Publish Data...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(updateData)">
  <div class="heading">Update Data...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(!loadingTournament)">
  <p-panel [style]="{'text-align':'center'}"
           header="{{tournament?.name}} - {{tournament?.type?.toUpperCase()}} Tournament -
                    {{tournament?.state === 'FINISHED' ? 'FINISHED' : 'Actual Round: ' + tournament?.actualRound }}"
           [toggleable]="true">
    <div *ngIf="isOrga" class="sub-heading">Hello Organizer</div>

    <div class="centered-content-container">
      <button *ngIf="(shownRound > 0)" pButton label="Previous Round" (click)="showPreviousRound()"
              class="ui-button-info"></button>
      <button *ngIf="!isOrga" pButton label="Orga View" (click)="showOrgaDialog()" class="ui-button-success"></button>
      <button *ngIf="(shownRound < tournament?.actualRound)" pButton label="Next Round" (click)="showNextRound()"
              class="ui-button-info"></button>
      <button *ngIf="(shownRound === tournament?.actualRound) && (tournamentFinished)" pButton label="Final Standings"
              (click)="showNextRound()" class="ui-button-info"></button>
    </div>
  </p-panel>

  <p-panel *ngIf="isOrga" header="Orga Area" [toggleable]="true">

    <div class="flex-container" *ngIf="dataToSave">
      <span class="heading">There are unsaved changes. Please save first to move on.</span>
    </div>

    <ng-container *ngIf="(startingTournament)">
      <div class="heading">Start Tournament...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="(deletingRound)">
      <div class="heading">Delete Round...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="(pairingAgain)">
      <div class="heading">Pair Round Again...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="(creatingNextRound)">
      <div class="heading">Create next Round...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="(loadingPlayers)">
      <div class="heading">Load available Players...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <div
      *ngIf="(!loadingPlayers) &&
             (!loadingParticipants) &&
             tournament?.actualRound === 0 && possiblePlayersToAdd?.length === 0"
      class="sub-heading">
      <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> No possible Players found. Please add new players with
      GameSystem {{tournament?.gameSystem}} in sidebar *NEW PLAYER*
    </div>
    <button *ngIf="tournament?.actualRound === 0"
            pButton type="button"
            class="table-manage-button"
            (click)="stackedGlobalPlayers = !stackedGlobalPlayers"
            label="Toggle" icon="fa-list">
    </button>

    <div class="flex-container"
         *ngIf="(!loadingPlayers) && tournament?.actualRound === 0 && possiblePlayersToAdd?.length > 0 ">
      <p-dataTable [value]="possiblePlayersToAdd"
                   [paginator]="true"
                   [pageLinks]="3"
                   [stacked]="stackedGlobalPlayers"
                   [responsive]="true"
                   [rows]="5">
        <p-header>Global List of Players ({{possiblePlayersToAdd.length}})</p-header>
        <p-column field="name"
                  header="Name"
                  [sortable]="true"
                  [filter]="true"
                  styleClass="break-word"
                  filterPlaceholder="Search">
        </p-column>
        <p-column field="location"
                  header="Location"
                  [sortable]="true"
                  [filter]="true"
                  styleClass="break-word"
                  filterPlaceholder="Search">
        </p-column>
        <p-column *ngIf="tournament?.type === 'team'"
                  field="team"
                  header="Team"
                  [sortable]="true"
                  [filter]="true"
                  styleClass="break-word"
                  filterPlaceholder="Search">
        </p-column>
        <ng-container *ngFor="let playerField of gameSystemConfig.playerFields">
          <p-column styleClass="break-word"
                    field="{{playerField.field}}"
                    header="{{playerField.field}}"
                    [sortable]="true"
                    [filter]="true"
                    filterPlaceholder="Search">
          </p-column>
        </ng-container>
        <p-column styleClass="col-actions">
          <ng-template pTemplate="header">
            Actions
          </ng-template>
          <ng-template let-player="rowData" pTemplate="body">
            <button type="button" pButton (click)="addParticipant(player)" icon="fa-plus" label="Add"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <!-- BUTTON-PANEL -->
    <div class="flex-container" *ngIf="!dataToSave && !updateData">
      <button *ngIf="tournament?.type === 'solo' &&
                     tournament?.actualRound === 0 &&
                     participants?.length >= 2 &&
                     (!loadingPlayers)"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="pairRound(false)"
              label="Start Tournament">
      </button>
      <button *ngIf="tournament?.type === 'team' &&
                     tournament?.actualRound === 0 &&
                     fullyLoadedTeams === teams?.length &&
                     teams?.length >= 2 &&
                     (!loadingTeams)"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="pairRound(false)"
              label="Start Team Tournament">
      </button>
      <button *ngIf="tournament?.actualRound > 0 && allMatchesFinished && !tournamentFinished"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="pairRound(false)"
              label="Next Round">
      </button>
      <button *ngIf="tournament?.actualRound > 0 && allMatchesFinished && !tournamentFinished"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="finishTournament()"
              label="Finish Tournament">
      </button>
      <button *ngIf="tournamentFinished"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="undoFinishTournament()"
              label="Undo Finish Tournament">
      </button>
      <button *ngIf="tournament?.actualRound > 0 && noMatchFinished"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="pairRound(true)"
              label="Pair again">
      </button>
      <button *ngIf="tournament?.actualRound !== tournament?.publishedRound"
              pButton type="button"
              class="action-element ui-button-success"
              (click)="publishRound()"
              label="Publish Round">
      </button>
      <button *ngIf="tournament?.actualRound > 0 && !tournamentFinished"
              pButton type="button"
              (click)="deleteRound()"
              class="action-element ui-button-warning"
              label="Delete Round">
      </button>
    </div>
  </p-panel>
  <!-- PARTICIPANT-PANEL -->
  <p-panel header="{{getPlayerTableHeading()}}" [toggleable]="true"
           [collapsed]="!(shownRound === 0 || shownRound > tournament?.actualRound)">

    <ng-container *ngIf="(loadingParticipants)">
      <div class="heading">Load Participants...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <button pButton type="button" class="table-manage-button" (click)="stackedPlayers = !stackedPlayers" label="Toggle" icon="fa-list"></button>
    <button pButton type="button" class="table-manage-button" (click)="exportStandings()" label="Export" icon="fa-download"></button>
    <!-- Participants List-->
    <p-dataTable *ngIf="(!loadingParticipants) && (!startingTournament)"
                 [value]="participants"
                 [editable]="isOrga"
                 [stacked]="stackedPlayers"
                 (onEditComplete)="onEditParticipant($event)"
                 [responsive]="true"
                 [rows]="10"
                 [paginator]="true"
                 [pageLinks]="3"
                 [rowsPerPageOptions]="[5, 10, 20, 50, 100, 300]"
                 [exportFilename]="'Standings_Round_' + shownRound"
                 #standingsTable>
      <p-header>{{participants?.length}} Players in Tournament</p-header>
      <p-column styleClass="col-rank">
        <ng-template pTemplate="header"></ng-template>
        <ng-template pTemplate="body" let-roundMatch="rowData" let-index="rowIndex">
          <div style="text-align: center">
            <span class="big-text">{{index + 1}}</span>
          </div>
        </ng-template>
      </p-column>
      <p-column field="name"
                header="Name"
                [sortable]="true"
                [filter]="true"
                styleClass="break-word"
                filterPlaceholder="Search">
      </p-column>
      <p-column [editable]="isOrga && tournament?.actualRound === 0"
                styleClass="{{isOrga && tournament?.actualRound === 0 ? 'editable-column' : ''}}, break-word"
                field="location"
                header="Location"
                [sortable]="true"
                [filter]="true"
                filterPlaceholder="Search">
      </p-column>
      <p-column *ngIf="tournament?.type === 'team'"
                [editable]="isOrga && tournament?.actualRound === 0"
                styleClass="{{isOrga && tournament?.actualRound === 0 ? 'editable-column' : ''}}, break-word"
                field="team"
                header="Team"
                [sortable]="true"
                [filter]="true"
                filterPlaceholder="Search">
        <ng-template let-participant="rowData" pTemplate="body">
          <ng-container *ngIf="isOrga">
          <span class="span-team">{{participant?.team ? participant?.team : 'Please select'}}</span>
          </ng-container>
          <ng-container *ngIf="!isOrga">
            {{participant?.team}}
          </ng-container>
        </ng-template>
        <ng-template let-col let-participant="rowData" pTemplate="editor">
           <p-dropdown placeholder="Please Choose Team"
                      [(ngModel)]="participant.team"
                      [options]="teamNameSelectItemList"
                      (onChange)="changeTeam(participant)"
                      (onBlur)="updateParticipant()"
                      [autoWidth]="false"
                      [style]="{'width':'100%'}">
          </p-dropdown>
        </ng-template>
      </p-column>

      <ng-container *ngFor="let participantField of gameSystemConfig.participantFields">
        <p-column [editable]="isOrga"
                  styleClass="{{isOrga ? 'editable-column' : ''}}, break-word"
                  field="{{participantField.field}}"
                  header="{{participantField.field}}"
                  [sortable]="true"
                  [filter]="true"
                  filterPlaceholder="Search">
          <ng-template let-col let-participant="rowData" pTemplate="editor">
            <p-dropdown *ngIf="participantField.type === 'dropDown'"
                        placeholder="None"
                        [(ngModel)]="participant[col.field]"
                        [options]="participantField.fieldValues"
                        (onChange)="changeParticipant(participant)"
                        (onBlur)="updateParticipant()"
                        [autoWidth]="false"
                        [style]="{'width':'100%'}">
            </p-dropdown>
            <p-multiSelect *ngIf="participantField.type === 'multiSelect'"
                           placeholder="None"
                           [(ngModel)]="participant[col.field]"
                           [options]="participantField.fieldValues"
                           (onChange)="changeParticipant(participant)"
                           (onPanelHide)="updateParticipant()"
                           [showToggleAll]=false
                           [maxSelectedLabels]=3
                           [style]="{'width':'100%'}">
            </p-multiSelect>
          </ng-template>
        </p-column>
      </ng-container>

      <p-column *ngIf="tournament?.actualRound > 0" sortable="custom"
                header="Score"
                (sortFunction)="sortByScore($event)">
        <ng-template let-participant="rowData" pTemplate="body">
          {{getActualScore(participant)}} <i class="fa fa-info-circle" pTooltip="{{getScoreTooltip(participant)}}"></i>
        </ng-template>
      </p-column>

      <ng-container *ngFor="let scoreField of gameSystemConfig.standingFields">
        <p-column header="{{scoreField.field}}" *ngIf="tournament?.actualRound > 0">
          <ng-template let-participant="rowData" pTemplate="body">
            {{getScoreFieldValue(scoreField, participant)}}
            <i class="fa fa-info-circle" pTooltip="{{getScoreFieldValueTooltip(scoreField, participant)}}"></i>
          </ng-template>
        </p-column>
      </ng-container>

      <p-column styleClass="col-actions" *ngIf="tournament?.actualRound === 0">
        <ng-template pTemplate="header">
          Actions
        </ng-template>
        <ng-template let-participant="rowData" pTemplate="body">
          <button *ngIf="isOrga"
                  type="button" pButton (click)="removeParticipant(participant)" icon="fa-trash" label="Del">
          </button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </p-panel>
  <p-panel header="{{getTeamTableHeading()}}" [toggleable]="true"
           *ngIf="tournament.type === 'team'"
           [collapsed]="!(shownRound === 0 || shownRound > tournament?.actualRound)">

    <ng-container *ngIf="(loadingTeams)">
      <div class="heading">Load Teams...</div>
      <div class="centered-content-container">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </ng-container>

    <button pButton class="table-manage-button" type="button" (click)="stackedTeams = !stackedTeams" label="Toggle" icon="fa-list"></button>

    <button *ngIf="tournament?.type === 'team'"
            class="table-manage-button"
            pButton type="button"
            label="Add Team" icon="fa-plus"
            (click)="teamCreationDialogVisibility = true">
    </button>
    <button class="table-manage-button" pButton type="button" (click)="exportTeamStandings()" label="Export" icon="fa-download"></button>

    <!-- Team List-->
    <p-dataTable *ngIf="(!loadingTeams) && (!startingTournament)"
                 [value]="teams"
                 [editable]="isOrga"
                 [stacked]="stackedTeams"
                 (onEditComplete)="onEditTeam($event)"
                 [responsive]="true"
                 [rows]="10"
                 [paginator]="true"
                 [pageLinks]="3"
                 [rowsPerPageOptions]="[5, 10, 20, 50, 100, 300]"
                 [exportFilename]="'Team_Standings_Round_' + shownRound"
                 #teamStandingsTable>
      <p-header>{{teams?.length}} Teams in Tournament</p-header>
      <p-column field="name"
                header="Name"
                [sortable]="true"
                [filter]="true"
                styleClass="break-word"
                filterPlaceholder="Search">
      </p-column>
      <p-column [editable]="isOrga && tournament?.actualRound === 0"
                styleClass="{{isOrga && tournament?.actualRound === 0 ? 'editable-column' : ''}}, break-word"
                field="location"
                header="Location"
                [sortable]="true"
                [filter]="true"
                filterPlaceholder="Search">
      </p-column>
      <p-column>
        <ng-template pTemplate="header">Team Members</ng-template>
        <ng-template pTemplate="body" let-team="rowData">
          <ng-container *ngIf="teamMemberMap[team.name]">
            <div [ngClass]="{'team-over-full': (teamMemberMap[team.name]?.length > tournament?.teamSize),
                             'team-not-full-color': (teamMemberMap[team.name]?.length <= tournament?.teamSize)}">
              ({{teamMemberMap[team.name]?.length}} / {{tournament?.teamSize}})
              <i *ngIf="teamMemberMap[team.name]?.length > tournament?.teamSize"
                 class="fa fa-exclamation-triangle" pTooltip="Exceeded TeamSize"></i>
              <i class="fa fa-info-circle" pTooltip="{{getTeamMemberNames(team.name)}}"></i>
            </div>
          </ng-container>
          <ng-container *ngIf="!teamMemberMap[team.name]">
            No Team Members yet
          </ng-container>
        </ng-template>
      </p-column>
      <p-column *ngIf="tournament?.actualRound > 0"
                sortable="custom"
                header="Score"
                (sortFunction)="sortByScore($event)">
        <ng-template let-team="rowData" pTemplate="body">
          {{getActualTeamScore(team)}} <i class="fa fa-info-circle" pTooltip="{{getScoreTeamTooltip(team)}}"></i>
        </ng-template>
      </p-column>
      <p-column *ngIf="tournament?.actualRound > 0" header="sgw">
        <ng-template let-team="rowData" pTemplate="body">
          {{getSgwSum(team)}} <i class="fa fa-info-circle" pTooltip="{{getSgwSumTooltip(team)}}"></i>
        </ng-template>
      </p-column>
      <ng-container *ngFor="let standingField of gameSystemConfig.standingFields">
        <ng-container *ngIf="standingField.isTeam && tournament?.actualRound > 0">
          <p-column header="{{standingField.field}}">
            <ng-template let-team="rowData" pTemplate="body">
              {{getTeamStandingFieldValue(standingField, team)}}
              <i class="fa fa-info-circle" pTooltip="{{getTeamStandingFieldValueTooltip(standingField, team)}}"></i>
            </ng-template>
          </p-column>
        </ng-container>
      </ng-container>

      <p-column styleClass="col-actions" *ngIf="tournament?.actualRound === 0">
        <ng-template pTemplate="header">
          Actions
        </ng-template>
        <ng-template let-team="rowData" pTemplate="body">
          <button *ngIf="!teamMemberMap[team.name] && isOrga"
                  type="button" pButton (click)="removeTeam(team)" icon="fa-trash" label="Remove Team">
          </button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </p-panel>

  <ng-container *ngIf="!(shownRound > tournament?.actualRound)">
    <p-panel *ngIf="shownRound > 0 &&
                    !isOrga && tournament?.actualRound !== tournament?.publishedRound && shownRound >= tournament?.actualRound"
             class="heading"
             header="TO is pairing. Round will be visible when new round is published.">
    </p-panel>
    <p-panel *ngIf="shownRound > 0 && tournament?.type !== 'team' &&
                    (isOrga || tournament?.actualRound === tournament?.publishedRound ||
                    shownRound < tournament?.actualRound)"
             header="Pairings Round {{shownRound}}" [toggleable]="true">

      <ng-container *ngIf="(loadingParticipantMatches || participantMatches?.length === 0)">
        <div class="heading">Load Player Matches...</div>
        <div class="centered-content-container">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </ng-container>

      <ot-participant-matches-table
        *ngIf="tournament && participants && participantMatches"
        [participantMatches]="participantMatches"
        [isOrga]="isOrga"
        [tournament]="tournament"
        [participantsMap]="participantsMap"
        [gameSystemConfig]="gameSystemConfig"
        [participantsChoosePlayedMap]="participantsChoosePlayedMap"
        [shownRound]="shownRound">
      </ot-participant-matches-table>
    </p-panel>


    <p-panel *ngIf="tournament?.type === 'team' && shownRound > 0 &&
                    (isOrga || tournament?.actualRound === tournament?.publishedRound || shownRound < tournament?.actualRound)"
             header="Team Pairings Round {{shownRound}}" [toggleable]="true">

      <ng-container *ngIf="(loadingTeamMatches)">
        <div class="heading">Load Team Matches...</div>
        <div class="centered-content-container">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
      </ng-container>

      <button pButton class="table-manage-button" type="button" (click)="stackedTeamMatches = !stackedTeamMatches" label="Toggle" icon="fa-list"></button>
      <button pButton class="table-manage-button" type="button" (click)="exportTeamMatches()" label="Export" icon="fa-download"></button>
      <button pButton class="table-manage-button" type="button" (click)="expandTeamMatches()" label="Expand All" icon="fa-expand"></button>
      <button pButton class="table-manage-button" type="button" (click)="collapseTeamMatches()" label="Collapse All" icon="fa-compress"></button>
      <p-dataTable
        *ngIf="(!startingTournament) &&
               (!deletingRound) &&
               (!pairingAgain) &&
               (!creatingNextRound) &&
               (!swappingPlayer)"
        [value]="teamMatches"
        [editable]="isOrga"
        (onEditComplete)="onEditMatch($event)"
        [responsive]="true"
        [rowStyleClass]="getStyleForMatchesRow"
        [rows]="20"
        [paginator]="true"
        [pageLinks]="3"
        [dataKey]="'id'"
        [immutable]="true"
        [stacked]="stackedTeamMatches"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100, 300]"
        [csvSeparator]="';'"
        [exportFilename]="'Team_Matches_Round_' + shownRound"
        [expandableRows]="true"
        [expandedRows]="expandedRowsTeamMatchTable"
        #teamMatchesTable>
        <p-header>{{teamMatches?.length}} TeamMatches</p-header>

        <ng-template let-teamMatch let-index="rowIndex" pTemplate="rowexpansion">
          <ot-participant-team-matches-table
            [teamMatch]="teamMatch"
            [isOrga]="isOrga"
            [tournament]="tournament"
            [participantsMap]="participantsMap"
            [teamsMap]="teamsMap"
            [gameSystemConfig]="gameSystemConfig"
            [participantsChoosePlayedMap]="participantsChoosePlayedMap"
            [shownRound]="shownRound">
          </ot-participant-team-matches-table>
        </ng-template>

        <p-column expander="true" styleClass="col-expand"></p-column>
        <p-column field="section"
                  header="Tables"
                  [editable]="isOrga"
                  [sortable]="true"
                  [filter]="true"
                  styleClass="col-table"
                  filterPlaceholder="Search">
        </p-column>
        <p-column styleClass="col-player col-firstPlayer"
                  header="Team 1"
                  [sortable]="true"
                  [filter]="true"
                  filterPlaceholder="Search">
          <ng-template let-teamMatch="rowData" pTemplate="body">
            <div  [ngClass]="{
                     'swappable-item': (teamToSwap && checkSwap(teamMatch, teamMatch.teamTwo, teamMatch.teamOne) === 'swap'),
                     'not-intended-to-swap': (teamToSwap && checkSwap(teamMatch, teamMatch.teamTwo, teamMatch.teamOne) === 'not'),
                     'impossible-to-swap': (teamToSwap && checkSwap(teamMatch, teamMatch.teamTwo, teamMatch.teamOne) === 'impo'),
                     'winner-label': (teamMatch.scoreTeamOne > teamMatch.scoreTeamTwo && teamMatch.finished),
                     'looser-label': (teamMatch.scoreTeamOne < teamMatch.scoreTeamTwo && teamMatch.finished),
                     'draw-label': (teamMatch.scoreTeamOne === teamMatch.scoreTeamTwo && teamMatch.finished),
                     'winning-label': (!teamMatch.finnished && teamMatch.sgwTeamOne > teamMatch.sgwTeamTwo),
                     'losing-label': (!teamMatch.finnished && teamMatch.sgwTeamOne < teamMatch.sgwTeamTwo),
                     'tie-label': (!teamMatch.finnished && teamMatch.finishedParticipantGames > 0 && teamMatch.sgwTeamOne === teamMatch.sgwTeamTwo)
                  }">

              <span class="very-big-text break-word" *ngIf="teamMatch.teamOne.name !== 'bye'">
                    ({{getScoreTillRoundForTeam(teamMatch.teamOne)}})
                    {{teamMatch.teamOne.name}}
              </span>
            </div>
          </ng-template>
        </p-column>
        <p-column styleClass="col-sgw">
          <ng-template pTemplate="header">SGW Team2</ng-template>
          <ng-template pTemplate="body" let-teamMatch="rowData">
            <div style="text-align: center">
              <span class="big-text">{{teamMatch.sgwTeamOne}}</span>
            </div>
          </ng-template>
        </p-column>
        <p-column styleClass="col-vs">
          <ng-template pTemplate="header"></ng-template>
          <ng-template pTemplate="body" let-teamMatch="rowData">
            <div style="text-align: center">
              <span class="big-text">VS</span>
            </div>
          </ng-template>
        </p-column>
        <p-column styleClass="col-sgw">
          <ng-template pTemplate="header">SGW Team2</ng-template>
          <ng-template pTemplate="body" let-teamMatch="rowData">
            <div style="text-align: center">
              <span class="big-text">{{teamMatch.sgwTeamTwo}}</span>
            </div>
          </ng-template>
        </p-column>
        <p-column styleClass="col-player"
                  header="Team 2"
                  [sortable]="true"
                  [filter]="true"
                  filterPlaceholder="Search">
          <ng-template let-teamMatch="rowData" pTemplate="body">
            <div  [ngClass]="{
                     'swappable-item': (teamToSwap && checkSwap(teamMatch, teamMatch.teamTwo, teamMatch.teamOne) === 'swap'),
                     'not-intended-to-swap': (teamToSwap && checkSwap(teamMatch, teamMatch.teamTwo, teamMatch.teamOne) === 'not'),
                     'impossible-to-swap': (teamToSwap && checkSwap(teamMatch, teamMatch.teamTwo, teamMatch.teamOne) === 'impo'),
                     'winner-label': (teamMatch.scoreTeamOne < teamMatch.scoreTeamTwo && teamMatch.finished),
                     'looser-label': (teamMatch.scoreTeamOne > teamMatch.scoreTeamTwo && teamMatch.finished),
                     'draw-label': (teamMatch.scoreTeamOne === teamMatch.scoreTeamTwo && teamMatch.finished),
                     'winning-label': (!teamMatch.finnished && teamMatch.sgwTeamOne < teamMatch.sgwTeamTwo),
                     'losing-label': (!teamMatch.finnished && teamMatch.sgwTeamOne > teamMatch.sgwTeamTwo),
                     'tie-label': (!teamMatch.finnished && teamMatch.finishedParticipantGames > 0 && teamMatch.sgwTeamOne === teamMatch.sgwTeamTwo)
                  }">

              <span class="very-big-text break-word" *ngIf="teamMatch.teamTwo.name !== 'bye'">
                    ({{getScoreTillRoundForTeam(teamMatch.teamTwo)}})
                    {{teamMatch.teamTwo.name}}
              </span>
            </div>
          </ng-template>
        </p-column>

      </p-dataTable>
    </p-panel>

    <!-- SHOW ONLY ROUND -->
  </ng-container>

  <!-- LOAD TOURNAMENT -->
</ng-container>


