<ng-container *ngIf="(tournamentSaving)">
  <div class="heading">Save Tournament...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(!tournamentSaving) && !requestDeleteTournament && ((selectedTournament && passwordCorrect) || !selectedTournament)">
  <form class="dialog-form" [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          GameSystem:
        </div>
        <div class="ui-grid-col-8">
          <p-dropdown placeholder="Please select"
                      formControlName="gameSystem"
                      [options]="allGameSystems"
                      [autoWidth]="false">
          </p-dropdown>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Name*:
        </div>
        <div class="ui-grid-col-8">
          <input pInputText (change)="nameChanged()"
                 type="text" class="ngprime-input" formControlName="name" placeholder="Name"/>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf="!tournamentForm.controls['name'].valid && tournamentForm.controls['name'].dirty">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i>
            Name is required
          </div>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf="tournamentNameAlreadyTaken">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i>
            Tournament already exists with this name
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Orga Password:
        </div>
        <div class="ui-grid-col-8">
          <input pInputText type="text" formControlName="password" placeholder="Orga password"/>
        </div>
      </div>
      <div class="ui-grid-row"
           *ngIf="!tournamentForm.controls['password'].valid && tournamentForm.controls['password'].dirty">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i>
            Must be longer than 6 characters
          </div>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Type:
        </div>
        <div class="ui-grid-col-8">
          <p-radioButton name="typeGroup" value="solo" label="Solo" formControlName="type"></p-radioButton>
          <!--<p-radioButton name="typeGroup" value="team" label="Team (not finished yet)" formControlName="type"></p-radioButton>&ndash;&gt;-->
        </div>
      </div>

      <div class="ui-grid-row" *ngIf=" tournamentForm.value.type === 'team'">
        <div class="ui-grid-col-4">
          Team size:
        </div>
        <div class="ui-grid-col-8">
          <p-spinner [step]="2" formControlName="teamSize" [min]="3" [max]="5" [readonly]="true"></p-spinner>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf="selectedTournament?.state === 'CREATED'">
        <div class="ui-grid-col-12">
          <button pButton class="full-width ui-button-danger"
                  label="Delete Tournament" (click)="requestDeleteTournament = true">
          </button>
        </div>
      </div>

      <div class="ui-grid-row bottom-button">
        <div class="ui-grid-col-12">
          <button pButton type="submit" class="full-width ui-button-success" label="Save Tournament"
                  [disabled]="!tournamentForm.valid"></button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="selectedTournament && !passwordCorrect">
  <form [formGroup]="orgaForm" (ngSubmit)="checkIfPasswordCorrect()" novalidate>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Orga:
        </div>
        <div class="ui-grid-col-8">
          <input formControlName="user" id="user" name="user"
                 tabindex="1" type="text" pInputText value="Orga">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Password:
        </div>
        <div class="ui-grid-col-8">
          <input id="password" name="password"
                 #orgaPasswordField
                 type="password"
                 (keyup.enter)="checkIfPasswordCorrect()"
                 tabindex="1" pPassword
                 formControlName="password"
                 required>
        </div>
      </div>
      <div class="ui-grid-row"
           *ngIf="passwordCheckIncorrect">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            Password wrong
          </div>
        </div>
      </div>
      <div class="ui-grid-row bottom-button">
        <div class="ui-grid-col-12">
          <button [disabled]="orgaForm.pristine"
                  tabindex="2" pButton type="submit" class="full-width" label="Orga access"></button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="(!tournamentSaving) && (requestDeleteTournament)">
  <div class="heading">
    WARNING! You cannot restore deleted Tournament.
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-6">
      <button pButton class="full-width ui-button-success"
              label="No" (click)="requestDeleteTournament = false">
      </button>
    </div>
    <div class="ui-grid-col-6">
      <button pButton class="full-width ui-button-danger"
              label="Burn it with Fire!" (click)="deleteTournament()">
      </button>
    </div>
  </div>
</ng-container>
