<ng-container *ngIf="(!playersLoaded)">
  <div class="heading">Load Players...</div>
  <div class="loading-spinner-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(playersLoaded)">
  <p-dataTable [value]="players"
               [responsive]="true">
    <p-header>Players</p-header>
    <p-column field="name" header="Name"></p-column>
    <p-column field="location" header="Location"></p-column>
    <p-column styleClass="col-button">
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-tournament="rowData" pTemplate="body">
        <button type="button" pButton icon="fa-eye" label="Show"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</ng-container>
