<ng-container *ngIf="(!playersLoaded)">
  <div class="heading">Load Players...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(updatePlayer)">
  <div class="heading">Update Player...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<button pButton type="button" (click)="stacked = !stacked" label="Toggle" icon="fa-list"></button>
<ng-container *ngIf="(playersLoaded) && !updatePlayer">
  <p-dataTable [value]="players"
               [stacked]="stacked"
               [editable]="true"
               [responsive]="true"
               [rows]="10"
               [paginator]="true"
               [pageLinks]="3"
               (onEditComplete)="onEditPlayer($event)"
               [rowsPerPageOptions]="[5,10,20]">
    <p-header>{{selectedGameSystem}} Players</p-header>
    <p-column field="name"
              [editable]="true"
              styleClass="{{'editable-column'}}"
              header="Name"
              [sortable]="true"
              [filter]="true"
              filterPlaceholder="Search">
    </p-column>
    <p-column field="location"
              header="Location"
              styleClass="{{'editable-column'}}"
              [editable]="true"
              [sortable]="true"
              [filter]="true"
              filterPlaceholder="Search">
    </p-column>

    <p-column styleClass="{{'editable-column'}}"
              [sortable]="true"
              [header]="'GameSystems'"
              [filter]="true"
              filterPlaceholder="Search">
      <ng-template  let-player="rowData" pTemplate="body">
        <p-multiSelect placeholder="None"
                       [(ngModel)]="player.myGameSystems"
                       [options]="gameSystemsAsSelectItems"
                       (onChange)="changeGameSystems($event, player)"
                       (onPanelHide)="savePlayer()"
                       [showToggleAll]=false
                       [maxSelectedLabels]=3
                       [displaySelectedLabel]=true
                       [selectedItemsLabel]="'{0} Gamesystems'"
                       [style]="{'width':'100%'}">
        </p-multiSelect>
      </ng-template>
    </p-column>

    <ng-container *ngFor="let playerField of gameSystemConfig.playerFields">
      <p-column [editable]="true"
                styleClass="{{'editable-column'}}"
                field="{{playerField.field}}"
                header="{{playerField.field}}"
                [sortable]="true"
                [filter]="true"
                filterPlaceholder="Search">
        <ng-template let-col let-player="rowData" pTemplate="editor">
          <p-dropdown *ngIf="playerField.type === 'dropDown'"
                      placeholder="None"
                      [(ngModel)]="player[col.field]"
                      [options]="playerField.fieldValues"
                      (onChange)="changePlayerField(player)"
                      (onBlur)="savePlayer()"
                      [autoWidth]="false"
                      [style]="{'width':'100%'}">
          </p-dropdown>
          <p-multiSelect *ngIf="playerField.type === 'multiSelect'"
                         placeholder="None"
                         [(ngModel)]="player[col.field]"
                         [options]="playerField.fieldValues"
                         (onChange)="changePlayerField(player)"
                         (onPanelHide)="savePlayer()"
                         [showToggleAll]=false
                         [maxSelectedLabels]=3>
          </p-multiSelect>
        </ng-template>
      </p-column>
    </ng-container>
  </p-dataTable>
</ng-container>
