<div class="layout-wrapper">
  <div id="layout-topbar">
    <a class="menu-button" (click)="sidebarVisible = !sidebarVisible">
      <i class="fa fa-bars"></i>
    </a>

    <div class="logo-container">
      <a class="logo-topbar">
        <img alt="logo" src="../assets/images/logo42.png"/>
      </a>
    </div>
    <ul class="topbar-menu">
      <li>
        <label for="gameSelect">GameSystem</label>
        <p-dropdown
          id="gameSelect"
          (onChange)="gameSystemChanged($event)"
          [options]="gameSystems"
          [(ngModel)]="selectedGameSystem">
        </p-dropdown>
      </li>

    </ul>
  </div>
  <p-sidebar [(visible)]="sidebarVisible"
             [baseZIndex]="10000">
    <div>
      <a class="logo-sidebar">
        <img alt="logo" src="../assets/images/logo42.png"/>
      </a>
    </div>

    <div class="nav-welcome">
      Welcome
    </div>
    <div (click)="sidebarVisible = false" class="nav-menu">
      <a routerLink="/tournaments">
        <i class="fa fa-gamepad fa-2x" aria-hidden="true"></i>
        <span>Tournaments</span>
      </a>
    </div>
    <div class="nav-menu">
      <a (click)="sidebarVisible = false" routerLink="/players">
        <i class="fa fa-users fa-2x" aria-hidden="true"></i>
        <span>Players</span>
      </a>
    </div>
    <div class="nav-menu">
      <a (click)="openNewTournamentDialog()">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        <span>New Tournament</span>
      </a>
    </div>
    <div class="nav-menu">
      <a (click)="openNewPlayerDialog()">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        <span>New Player</span>
      </a>
    </div>
  </p-sidebar>

  <div id="layout-content">
    <p-growl  [life]="5000" [(value)]="messages"></p-growl>
    <router-outlet></router-outlet>
  </div>
</div>

<p-dialog [(visible)]="addTournamentDialogVisibility"
          [contentStyle]="{'overflow':'visible', 'height':'100%'}"
          [modal]=true
          [width]="600"
          [height]="400">
  <p-header>
    New Tournament
  </p-header>
  <app-tournament-add-dialog
    [gameSystem]="this.selectedGameSystem"
    (onTournamentSaved)="handleTournamentSaved($event)">
  </app-tournament-add-dialog>
</p-dialog>

<p-dialog [(visible)]="addPlayerDialogVisibility"
          [contentStyle]="{'overflow':'visible', 'height':'100%'}"
          [modal]=true
          [width]="600"
          [height]="400">
  <p-header>
    New Player
  </p-header>
  <app-player-add-dialog
    (onPlayerSaved)="handlePlayerSaved($event)">
  </app-player-add-dialog>
</p-dialog>
