<div class="layout-wrapper">
  <div class="layout-topbar">
    <a class="menu-button" (click)="sidebarVisible = !sidebarVisible">
      <i class="fa fa-bars"></i>
    </a>
    <div class="logo-container">
      <a class="logo-topbar">
        <img alt="logo" src="../assets/images/logo42.png"/>
        <div class="version-label">Version 0.19.2</div>
      </a>
      <span>
        <i *ngIf="(isConnected$ | async)" class="fa fa-wifi fa-2x online-icon" pTooltip="Online"></i>
        <i *ngIf="(!(isConnected$ | async))" class="fa fa-wifi fa-2x offline-icon" pTooltip="Offline"></i>
      </span>
    </div>
    <ul class="topbar-menu" *ngIf="showTopBarMenu">
      <li>
        <label for="gameSelect">GameSystem</label>
        <p-dropdown
          id="gameSelect"
          (onChange)="gameSystemChanged($event)"
          [options]="gameSystems"
          [(ngModel)]="selectedGameSystem">
        </p-dropdown>
      </li>
    </ul>
    <div *ngIf="showDataModified"
         class="layout-show-data-modified"
         [ngClass]="{'layout-show-data-modified-with-menu': showTopBarMenu}">
      <span>Data modified. Please save to save and publish</span>
      <button pButton type="button" class="ui-button-success save-data-button"
              (click)="commitUpdates()" label="Save" icon="fa-check"></button>
      <button pButton type="button" class="ui-button-danger save-data-button"
              (click)="discardUpdates()" label="Discard" icon="fa-remove"></button>
    </div>
  </div>

  <p-sidebar [(visible)]="sidebarVisible"
             [baseZIndex]="10000">
    <div>
      <a class="logo-sidebar">
        <img alt="logo" src="../assets/images/logo42.png"/>
      </a>
    </div>

    <div class="nav-welcome">
      Welcome
    </div>
    <div (click)="sidebarVisible = false" class="nav-menu">
      <a routerLink="/tournaments">
        <i class="fa fa-gamepad fa-2x" aria-hidden="true"></i>
        <span>Tournaments</span>
      </a>
    </div>
    <div class="nav-menu">
      <a (click)="sidebarVisible = false" routerLink="/players">
        <i class="fa fa-users fa-2x" aria-hidden="true"></i>
        <span>Players</span>
      </a>
    </div>
    <div class="nav-menu">
      <a (click)="openTournamentsWithOpenNewTournamentDialog()">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        <span>New Tournament</span>
      </a>
    </div>
    <div class="nav-menu">
      <a (click)="openPlayerWithOpenNewPlayerDialog()">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        <span>New Player</span>
      </a>
    </div>
  </p-sidebar>

  <div class="layout-content"
       [ngClass]="{'content-top-bar-menu': showTopBarMenu,
                   'content-data-modified': showDataModified,
                   'content-data-modified-and-menu': (showDataModified && showTopBarMenu)}">
                 <!--'with-sub-top-bar-without-top-bar-menu': !showTopBarMenu}">-->

    <!--STB: {{showSubTopBar}}-->
    <!--STBWM: {{showTopBarMenu}}-->
    <p-growl [life]="5000" [(value)]="messages"></p-growl>

    <router-outlet></router-outlet>
  </div>
</div>



