<p-dialog [(visible)]="teamCreationDialogVisibility"
          [contentStyle]="{'overflow':'visible', 'height':'100%'}"
          [modal]=true
          [width]="400"
          [height]="240">
  <p-header>
    Create Team
  </p-header>
  <form [formGroup]="teamCreationForm" (ngSubmit)="addTeam()" novalidate>
    <div class="ui-grid ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Team name:
        </div>
        <div class="ui-grid-col-8">
          <input formControlName="teamName" id="teamName" name="teamName"
                 tabindex="3" type="text" pInputText required>
        </div>
      </div>
      <div class="ui-grid-row"
           *ngIf="teamNameAlreadyTaken">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            Team name already taken
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Location:
        </div>
        <div class="ui-grid-col-8">
          <input id="teamLocation" name="teamLocation"
                 pInputText
                 tabindex="4"
                 formControlName="teamLocation">
        </div>
      </div>
      <div class="ui-grid-row bottom-button">
        <div class="ui-grid-col-12">
          <button [disabled]="teamCreationForm.pristine"
                  tabindex="2" pButton type="submit" class="full-width" label="Add Team"></button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>

<p-overlayPanel #showDialogOverlayPanel>
  <ng-container *ngIf="somethingToShow">
    <div style="width: 200px" class="break-word">{{somethingToShow}}</div>
  </ng-container>
</p-overlayPanel>

<button pButton class="table-manage-button" type="button" (click)="stackedTeams = !stackedTeams" label="Toggle"
        icon="fa-list"></button>
<button class="table-manage-button" pButton type="button" (click)="exportTeamStandings()" label="Export"
        icon="fa-download"></button>

<button class="table-manage-button"
        pButton type="button"
        label="Add Team" icon="fa-plus"
        (click)="teamCreationDialogVisibility = true">
</button>

<button *ngIf="tournament?.type ==='team' && !showOnlyUnfilledTeams && tournament?.actualRound === 0"
        pButton type="button" class="table-manage-button" (click)="filterUnfilledTeams()" label="Show unfilled teams"></button>
<button *ngIf="tournament?.type ==='team' && showOnlyUnfilledTeams"
        pButton type="button" class="table-manage-button" (click)="showAllTeams()" label="Show all"></button>

<!-- Team List-->
<p-dataTable [value]="teams"
             [editable]="isOrga"
             [stacked]="stackedTeams"
             (onEditComplete)="onEditTeam($event)"
             [responsive]="true"
             [rows]="10"
             [paginator]="true"
             [pageLinks]="3"
             [rowsPerPageOptions]="[5, 10, 20, 50, 100, 300]"
             [exportFilename]="'Team_Standings_Round_' + shownRound"
             #teamStandingsTable>
  <p-header>{{teams?.length}} Teams in Tournament</p-header>
  <p-column field="name"
            header="Name"
            [sortable]="true"
            [filter]="true"
            styleClass="break-word"
            filterPlaceholder="Search">
  </p-column>
  <p-column [editable]="isOrga && tournament?.actualRound === 0"
            styleClass="{{isOrga && tournament?.actualRound === 0 ? 'editable-column' : ''}}, break-word"
            field="location"
            header="Location"
            [sortable]="true"
            [filter]="true"
            filterPlaceholder="Search">
  </p-column>
  <p-column>
    <ng-template pTemplate="header">Team Members</ng-template>
    <ng-template pTemplate="body" let-team="rowData">
      <ng-container *ngIf="teamsMemberMap[team.name]">
        <div [ngClass]="{'team-over-full': (teamsMemberMap[team.name]?.length > tournament?.teamSize),
                             'team-not-full-color': (teamsMemberMap[team.name]?.length <= tournament?.teamSize)}">
          ({{teamsMemberMap[team.name]?.length}} / {{tournament?.teamSize}})
          <i *ngIf="teamsMemberMap[team.name]?.length > tournament?.teamSize"
             class="fa fa-exclamation-triangle" pTooltip="Exceeded TeamSize"></i>
          <i class="fa fa-info-circle clickable" pTooltip="{{getTeamMemberNames(team.name)}}"
             (click)="showTeam($event, getTeamMemberNames(team.name) , showDialogOverlayPanel);"></i>
        </div>
      </ng-container>
      <ng-container *ngIf="!teamsMemberMap[team.name]">
        No Team Members yet
      </ng-container>
    </ng-template>
  </p-column>
  <p-column *ngIf="tournament?.actualRound > 0" sortable="custom"
            header="Score"
            (sortFunction)="sortTeamsByScore($event)">
    <ng-template let-team="rowData" pTemplate="body">
      {{getActualTeamScore(team)}}
      <i class="fa fa-info-circle clickable" pTooltip="{{getScoreTeamTooltip(team)}}"
         (click)="showScore($event, getScoreTeamTooltip(team) , showDialogOverlayPanel);"></i>
    </ng-template>
  </p-column>
  <p-column *ngIf="tournament?.actualRound > 0" header="sgw">
    <ng-template let-team="rowData" pTemplate="body">
      {{getSgwSum(team)}}
      <i class="fa fa-info-circle clickable" pTooltip="{{getSgwSumTooltip(team)}}"
         (click)="showScore($event, getSgwSumTooltip(team) , showDialogOverlayPanel);"></i>
    </ng-template>
  </p-column>
  <ng-container *ngFor="let standingField of gameSystemConfig.standingFields">
    <ng-container *ngIf="standingField.isTeam && tournament?.actualRound > 0">
      <p-column header="{{standingField.field}}">
        <ng-template let-team="rowData" pTemplate="body">
          {{getTeamStandingFieldValue(standingField, team)}}
          <i class="fa fa-info-circle clickable" pTooltip="{{getTeamStandingFieldValueTooltip(standingField, team)}}"
             (click)="showScore($event, getTeamStandingFieldValueTooltip(standingField, team) , showDialogOverlayPanel);"></i>
        </ng-template>
      </p-column>
    </ng-container>
  </ng-container>

  <p-column styleClass="col-actions" *ngIf="tournament?.actualRound === 0">
    <ng-template pTemplate="header">
      Actions
    </ng-template>
    <ng-template let-team="rowData" pTemplate="body">
      <button *ngIf="!teamsMemberMap[team.name] && isOrga"
              type="button" pButton (click)="removeTeam(team)" icon="fa-trash" label="Remove Team">
      </button>
    </ng-template>
  </p-column>
</p-dataTable>
