
@import '../../../styles';

.dropped-span{
  font-size: 0.6em;
  color: $fail_color;
}

.participant-location-col{
  box-shadow: inset 0 0 12px $color_info;
  word-wrap: break-word;
  width: 20%;
}
.participant-location-col:hover {
  cursor: pointer;
  background-color: $hover_color;
}

.participant-team-col{
  box-shadow: inset 0 0 12px $color_info;
  word-wrap: break-word;
  width: 20%;
}
.participant-team-col:hover {
  cursor: pointer;
  background-color: $hover_color;
}

.participantField-col{
  box-shadow: inset 0 0 12px $color_info;
  word-wrap: break-word;
  width: 15%;
}

.participantField-col:hover {
  cursor: pointer;
  background-color: $hover_color;
}

.participant-links-col{
  word-wrap: break-word;
  width: 10%;
}


@media screen and (min-width: 800px) {
  .dropped-span {
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .dropped-span {
    font-size: 1.6em;
  }
}
