<ng-container *ngIf="(playerSaving)">
  <div class="heading">Save new Player...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(!playerSaving)">
  <form class="dialog-form" [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Name*:
        </div>
        <div class="ui-grid-col-8">
          <input pInputText type="text" (change)="nameChanged()"
                 minlength="4" maxlength="30" class="ngprime-input" formControlName="name" placeholder="Name"/>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf="!playerForm.controls['name'].valid && playerForm.controls['name'].dirty">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i>
            Name is required. Name length must be beetween 4-30
          </div>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf="playerNameAlreadyTaken">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i>
            Player already exists with this name
          </div>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf="byeNameTaken">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i>
            Bye is not a valid name!
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Location:
        </div>
        <div class="ui-grid-col-8">
          <input pInputText type="text" maxlength="30" class="ngprime-input" formControlName="location"
                 placeholder="Location"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          GameSystems*:
        </div>
        <div class="ui-grid-col-8">
          <p-multiSelect [options]="gameSystemsAsSelectItems" formControlName="gameSystems"></p-multiSelect>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf="!playerForm.controls['name'].valid && playerForm.controls['name'].dirty">
        <div class="ui-grid-col-12">
          <div class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i>
            You must choose at least 1 game system.
          </div>
        </div>
      </div>
      <div class="ui-grid-row bottom-button">
        <div class="ui-grid-col-12">
          <button pButton type="submit" class="full-width ui-button-success" label="Save Player"
                  [disabled]="!playerForm.valid"></button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
