<ng-container *ngIf="(!tournamentsLoaded)">
  <div class="heading">Load Tournaments...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<ng-container *ngIf="(tournamentsLoaded)">
  <p-dialog [(visible)]="addTournamentDialogVisibility"
            [contentStyle]="{'overflow':'visible', 'height':'100%'}"
            [modal]=true
            [width]="600"
            [height]="400">
    <p-header>
      New Tournament {{selectedGameSystem}}
    </p-header>
    <app-tournament-add-dialog
      [gameSystem]="selectedGameSystem"
      [allTournaments]="tournaments"
      (onTournamentSaved)="handleTournamentSaved()">
    </app-tournament-add-dialog>
  </p-dialog>

  <button pButton type="button" (click)="stacked = !stacked" label="Toggle" icon="fa-list"></button>
  <button pButton type="button" (click)="addTournamentDialogVisibility = true" label="New Tournament" icon="fa-plus"></button>
  <p-dataTable [value]="tournaments"
               [stacked]="stacked"
               [responsive]="true"
               [rows]="10"
               [paginator]="true"
               [pageLinks]="3"
               [rowsPerPageOptions]="[5,10,20]">
    <p-header>{{selectedGameSystem}} Tournaments</p-header>

    <p-column field="name" header="Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="gameSystem" header="GameSystem"></p-column>
    <p-column field="status" header="Status"></p-column>
    <p-column styleClass="col-actions">
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-tournament="rowData" pTemplate="body">
        <button type="button" pButton (click)="router.navigate(['/tournament', tournament?.id]);"  icon="fa-eye" label="Show"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</ng-container>



