$six_tick: 72px;
$five_tick: 60px;
$quad_tick: 48px;
$tripel_tick: 36px;
$double_tick: 24px;
$main_tick: 12px;
$halve_tick: 6px;
$quarter_tick: 3px;



$light_success_color: #8bd683;
$success_color: #388E3C;
$light_fail_color: #ff9489;
$fail_color: #ff4846;
$color_info: deepskyblue;


$hover_color: #0078a3;
$color_dark_primary: #333333;
$color_primary: #000000;
$color_secondary: #f58400;

$color_text: #ffffff;
$color_secondary_text: #cccccc;


.heading {
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
  margin-top: $main_tick;
  margin-bottom: $main_tick;
  line-height: $tripel_tick ;
}

.sub-heading {
  text-align: center;
  font-size: 1.6em;
  margin-top: $halve_tick;
  margin-bottom: $halve_tick;
  line-height: $double_tick ;
}

.big-text {
  font-size: 1.2em;
}


.centered-content-container {

  display: flex;
  justify-content: center;
  margin-top: $main_tick;
  margin-bottom: $main_tick;
}


.dialog-form{
  height: 100%;
}

.full-width{
  width: 100%;
}

.bottom-button{
  position: absolute;
  bottom: $quad_tick;
  width: 97%;
}


input.ng-invalid.ng-dirty{
  background-color: $color_secondary !important;
}

.editable-column {
  box-shadow: inset 0 0 12px $color_secondary;
}

.break-word{
  word-wrap: break-word;
}

.editable-column:hover {
  cursor: pointer;
  background-color: $hover_color;
}

.col-actions{
  width: 20%;
  text-align: center;
}

.col-vs {
  width: 10%;
  text-align: center;
}

.col-result {
  width: 10%;
  text-align: center;
}


.col-player{
  width: 20%;
}

.col-firstPlayer{
  text-align: right;
}

.col-scoring {
  width: 10%;
  text-align: center;
}

.row-finished {
  box-shadow: inset 0 0 12px $success_color;
}

.warning-icon{
  color: $color_secondary;

}

.warning-icon:hover{
  cursor: pointer;
  color: $hover_color;
}
