<ng-container *ngIf="(swappingPlayer)">
  <div class="heading">Swap Player...</div>
  <div class="centered-content-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-container>

<p-dataTable
  *ngIf="!swappingPlayer"
  [value]="teamMatch.participantMatches"
  [editable]="isOrga"
  (onEditComplete)="onEditMatch($event)"
  [responsive]="true"
  [rowStyleClass]="getStyleForMatchesRow"
  [rows]="20"
  [paginator]="true"
  [pageLinks]="3"
  [dataKey]="'id'"
  [immutable]="true"
  [stacked]="stackedMatches"
  [rowsPerPageOptions]="[5, 10, 20, 50, 100, 300]"
  #matchesTable>
  <p-header>{{teamMatch.teamOne.name + ' VS ' + teamMatch.teamTwo.name}}</p-header>
  <p-column styleClass="col-result" *ngIf="isOrga">
    <ng-template pTemplate="header">Result</ng-template>
    <ng-template pTemplate="body" let-partiMatch="rowData" let-index="rowIndex">
      <div style="text-align: center">
        <p-dropdown
          [autoWidth]="false"
          [style]="{'width':'100%'}"
          placeholder="Undone"
          [(ngModel)]="partiMatch['result']"
          [options]="winningOptions"
          (onChange)="changeWinner($event, partiMatch, index)">
        </p-dropdown>
      </div>
      <div *ngIf="partiMatch?.finished" style="text-align: center">
        <i class="fa fa-times warning-icon"
           aria-hidden="true"
           (click)="clearParticipantMatch(partiMatch)"> Clear Game</i>
      </div>
    </ng-template>
  </p-column>
  <p-column field="table"
            header="Table"
            [editable]="isOrga"
            styleClass="col-table">
  </p-column>
  <p-column styleClass="col-player col-firstPlayer"
            field="participantOne.name">
    <ng-template pTemplate="filter" let-col let-partiMatch="rowData">
      <input type="text"
             [(ngModel)]="participantOneFilter"
             pInputText
             class="ui-column-filter"
             (keyup)="filterParticipantOneMatchesTable()"/>
    </ng-template>
    <ng-template pTemplate="body" let-partiMatch="rowData" let-index="rowIndex">
      <div style="text-align: center"
           pTooltip="{{getToolTipForSwap(partiMatch, partiMatch.participantOne, partiMatch.participantTwo)}}"
           (click)="dropPlayer(partiMatch, partiMatch.participantOne, partiMatch.participantTwo, 'one')"
           [ngClass]="{
                     'swappable-item': (playerToSwap && checkSwap(partiMatch, partiMatch.participantOne, partiMatch.participantTwo) === 'swap'),
                     'not-intended-to-swap-player': (playerToSwap && checkSwap(partiMatch, partiMatch.participantOne, partiMatch.participantTwo) === 'not'),
                     'impossible-to-swap-player': (playerToSwap && checkSwap(partiMatch, partiMatch.participantOne, partiMatch.participantTwo) === 'impo'),
                     'winner-label': (partiMatch.scoreParticipantOne > partiMatch.scoreParticipantTwo && partiMatch.finished),
                     'looser-label': (partiMatch.scoreParticipantOne < partiMatch.scoreParticipantTwo && partiMatch.finished),
                     'draw-label': (partiMatch.scoreParticipantOne === partiMatch.scoreParticipantTwo && partiMatch.finished)
                  }">
              <span class="very-big-text break-word" *ngIf="partiMatch.participantOne.name !== 'bye'">
                ({{getScoreTillRoundForParticipant(partiMatch.participantOne)}})
                {{partiMatch.participantOne.name}}
              </span>
        <span class="very-big-text" *ngIf="partiMatch.participantOne.name === 'bye'">BYE</span>
        <i *ngIf="!partiMatch?.finished && isOrga && !playerToSwap && !tournamentFinished"
           class="fa fa-arrows-v fa-2x light-success-color clickable" aria-hidden="true" pTooltip="Swap Player1"
           (click)="swapPlayerOne(partiMatch)">
        </i>
        <i *ngIf="playerToSwap && isOrga"
           class="fa fa-times fa-2x light-fail-color clickable" aria-hidden="true" pTooltip="Stop Swapping"
           (click)="stopSwapPlayer()">
        </i>
      </div>
      <div style="text-align: center" *ngIf="isOrga">
        <ng-container *ngFor="let chooseField of gameSystemConfig.choosePlayed">
          <p-dropdown
            *ngIf="chooseField.type === 'dropDown' && partiMatch.participantOne[chooseField.field]?.length > 0"
            placeholder="Choose"
            [(ngModel)]="partiMatch[chooseField.fieldPlayerOne]"
            [options]="participantsChoosePlayedMap[partiMatch.participantOne.name]"
            [autoWidth]="false"
            (onChange)="saveChoosePlayed(partiMatch)"
            [style]="{'width':'100%'}">
          </p-dropdown>
          <p-multiSelect
            *ngIf="chooseField.type === 'multiSelect' && partiMatch.participantOne[chooseField.field]?.length > 0"
            placeholder="Choose"
            [(ngModel)]="partiMatch[chooseField.fieldPlayerOne]"
            [options]="participantsChoosePlayedMap[partiMatch.participantOne.name]"
            (onPanelHide)="saveChoosePlayed(partiMatch)"
            [showToggleAll]=false
            [maxSelectedLabels]=3
            [style]="{'width':'100%'}">
          </p-multiSelect>
        </ng-container>
      </div>
      <div style="text-align: center" *ngIf="!isOrga">
        <ng-container *ngFor="let chooseField of gameSystemConfig.choosePlayed">
          {{partiMatch[chooseField.fieldPlayerOne]}}
        </ng-container>
      </div>
    </ng-template>
  </p-column>
  <p-column styleClass="col-vs">
    <ng-template pTemplate="header"></ng-template>
    <ng-template pTemplate="body" let-partiMatch="rowData">
      <div style="text-align: center">
        <span class="big-text">VS</span>
      </div>
    </ng-template>
  </p-column>
  <p-column styleClass="col-player"
            field="participantTwo.name">
    <ng-template pTemplate="filter" let-col let-partiMatch="rowData">
      <input type="text"
             [(ngModel)]="participantTwoFilter"
             pInputText
             class="ui-column-filter"
             (keyup)="filterParticipantTwoMatchesTable()"/>
    </ng-template>
    <ng-template pTemplate="body" let-partiMatch="rowData" let-index="rowIndex">
      <div style="text-align: center"
           pTooltip="{{getToolTipForSwap(partiMatch, partiMatch.participantTwo, partiMatch.participantOne)}}"
           (click)="dropPlayer(partiMatch, partiMatch.participantTwo, partiMatch.participantOne, 'two')"
           [ngClass]="{
                     'swappable-item': (playerToSwap && checkSwap(partiMatch, partiMatch.participantTwo, partiMatch.participantOne) === 'swap'),
                     'not-intended-to-swap-player': (playerToSwap && checkSwap(partiMatch, partiMatch.participantTwo, partiMatch.participantOne) === 'not'),
                     'impossible-to-swap-player': (playerToSwap && checkSwap(partiMatch, partiMatch.participantTwo, partiMatch.participantOne) === 'impo'),
                     'winner-label': (partiMatch.scoreParticipantTwo > partiMatch.scoreParticipantOne && partiMatch.finished),
                     'looser-label': (partiMatch.scoreParticipantTwo < partiMatch.scoreParticipantOne && partiMatch.finished),
                     'draw-label': (partiMatch.scoreParticipantOne === partiMatch.scoreParticipantTwo && partiMatch.finished)
                  }">

              <span class="very-big-text break-word" *ngIf="partiMatch.participantTwo.name !== 'bye'">
                    ({{getScoreTillRoundForParticipant(partiMatch.participantTwo)}})
                    {{partiMatch.participantTwo.name}}
              </span>
        <span class="very-big-text" *ngIf="partiMatch.participantTwo.name === 'bye'">BYE</span>
        <i *ngIf="!partiMatch?.finished && isOrga && !playerToSwap  && !tournamentFinished"
           class="fa fa-arrows-v fa-2x light-success-color clickable" aria-hidden="true" pTooltip="Swap Player2"
           (click)="swapPlayerTwo(partiMatch)">
        </i>
        <i *ngIf="playerToSwap && isOrga"
           class="fa fa-times fa-2x light-fail-color clickable" aria-hidden="true" pTooltip="Stop Swapping"
           (click)="stopSwapPlayer()">
        </i>
      </div>
      <div style="text-align: center" *ngIf="isOrga">
        <ng-container *ngFor="let chooseField of gameSystemConfig.choosePlayed">
          <p-dropdown
            *ngIf="chooseField.type === 'dropDown' && partiMatch.participantTwo[chooseField.field]?.length > 0"
            placeholder="Choose"
            [(ngModel)]="partiMatch[chooseField.fieldPlayerTwo]"
            [options]="participantsChoosePlayedMap[partiMatch.participantTwo.name]"
            [autoWidth]="false"
            (onChange)="saveChoosePlayed(partiMatch)"
            [style]="{'width':'100%'}">
          </p-dropdown>
          <p-multiSelect
            *ngIf="chooseField.type === 'multiSelect' && partiMatch.participantTwo[chooseField.field]?.length > 0"
            placeholder="Choose"
            [(ngModel)]="partiMatch[chooseField.fieldPlayerTwo]"
            [options]="participantsChoosePlayedMap[partiMatch.participantTwo.name]"
            (onPanelHide)="saveChoosePlayed(partiMatch)"
            [showToggleAll]=false
            [maxSelectedLabels]=3
            [style]="{'width':'100%'}">
          </p-multiSelect>
        </ng-container>
      </div>
      <div style="text-align: center" *ngIf="!isOrga">
        <ng-container *ngFor="let chooseField of gameSystemConfig.choosePlayed">
          {{partiMatch[chooseField.fieldPlayerTwo]}}
        </ng-container>
      </div>
    </ng-template>
  </p-column>

  <ng-container *ngFor="let scoreField of gameSystemConfig.scoreFields">
    <p-column *ngIf="isOrga"
              styleClass="col-scoring break-word">
      <ng-template let-col let-partiMatch="rowData" pTemplate="body">
        <div>
          <input type="number" min="{{scoreField.min}}" max="{{scoreField.max}}" pInputText
                 [(ngModel)]="partiMatch[scoreField.fieldPlayerOne]"
                 size="50"
                 (blur)="changeScoringForPlayerOne(partiMatch, scoreField.field, scoreField.fieldPlayerOne, partiMatch[scoreField.fieldPlayerOne])"
                 (keyup.enter)="forceBlurForScore($event)"
          />
          <span class="small-text"> {{scoreField.field}} {{partiMatch.participantOne.name}}</span>
        </div>
        <div class="breaking-line"></div>
        <div>
          <input type="number" min="{{scoreField.min}}" max="{{scoreField.max}}" pInputText
                 [(ngModel)]="partiMatch[scoreField.fieldPlayerTwo]"
                 size="50"
                 (blur)="changeScoringForPlayerTwo(partiMatch, scoreField.field, scoreField.fieldPlayerTwo, partiMatch[scoreField.fieldPlayerTwo])"
                 (keyup.enter)="forceBlurForScore($event)"
          />
          <span class="small-text">{{scoreField.field}} {{partiMatch.participantTwo.name}}</span>
        </div>
      </ng-template>
    </p-column>
  </ng-container>
</p-dataTable>
